.control{
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.control input{
    border:1px solid rgba(128, 128, 128, 0.342);
    border-radius: 3px;
    background-color: rgba(233, 227, 227, 0.377);
    font-size: 1.4rem;
}
.control textarea{
    border:1px solid rgba(128, 128, 128, 0.342);
    border-radius: 3px;
    background-color: rgba(233, 227, 227, 0.377);
    font-size: 1.4rem;
}

.control label{
    font-weight: bold;
    margin-bottom: 6px;
}

.btn{
    text-align: end;
}

.btn button{
    font-size: 1.3rem;
}

.control input:focus{
background-color: rgba(66, 179, 179, 0.459);
border:2px solid teal;
outline: none;
}

.control textarea:focus{
    background-color: rgba(66, 179, 179, 0.459);
border:2px solid teal;
outline: none;
}